<div class="container" id="usercenter">
    <div class="main-panel f-cb">
        <div class="sidebar-nav f-fl">
        </div>
        <div class="content" id="view">
            <div class="inner-api-manager" id="InnerApiManager">

            </div>
        </div>
    </div>
</div>
<div class="api-delete-dialog" id="apiDelDialog">

</div>
<div class="api-dialog" id="apiDialog">

</div>
<div class="api-dialog1">

</div>
<div class="api-canvas" style="position:fixed;height:100%;width:100%;left:0;top:0;background-color:rgba(0,0,0,0.3);z-index:90;display: none;">
</div>