
<div class="home-top">
    <div class="home-slider container">
        <div class="home-topbar-list">
            <div>
                    <div class="news-list">
                            <div class="news-title"></div>
                            <div id="news-box">
                                <p class="f-cb" id="news"></p>
                            </div>
                            <div class="news-more"><a href="#/notices">查看更多&nbsp;&nbsp;></a></div>
                        </div>
            </div>
            
        </div>
        <div class="swiper-cover">
            <div class="swiper-container">
                <div class="swiper-wrapper" id="swiperWrapper"></div>
                <!-- <div class="swiper-pagination"></div> -->
                <div class="swiper-button-next">
                <!-- <i class="fa fa-angle-right"></i> -->
                </div>
                <div class="swiper-button-prev">
                <!-- <i class="fa fa-angle-left"></i> -->
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="home-topbar-boxs">
    <div class="trade-boxs f-cb"></div>
</div>
<div style="background:#0a0227">
    <div class="ticker" id="homeTicker">
        <div class="ticker-head">
            <div class="ticker-nav" id="tickerType">
                
                
            </div>
            
        </div>
        <div class="ticker-content">
            <div class="ticker-content-head sort-icon-wrap">
            </div>
            <div class="ticker-content-main" id="tickerList">
                
                <div id="zcTicker" style="display: none;"></div>
                <div class="cur" id="btcTicker"></div>
                <div id="ethTicker"></div>

                <div id="userTicker"></div>
                
            </div>
        </div>
    </div>
    <div class="banner-intro1">
        <div class="inner-intro0">

        </div>
        <div class="inner-intro1 container">
            <div class="inner-intro1-list">
                
            </div>
        </div>
    </div>
</div>
<div class="banner-intro2 f-cb"> 
        <div class="inner-intro22 container">
           <div class="inner-intro2-left f-fl">
               <img src="images/pcmo.png" width="555px">
           </div>
           <div class="inner-intro2-right f-fr">
               <!-- <div>DOWN&nbsp;&nbsp; LOAD</div> -->
               
           </div>
        </div>
     </div>

