
<div class="container" id="usercenter">
    <div class="main-panel f-cb">
        <div class="sidebar-nav f-fl">
            
           <!--  <ul>
                <li>资产管理</li>
                <li>
                    <a href="#/myAssets">我的资产</a>
                </li>
                <li>
                    <a href="#/addressManage">地址管理</a>
                </li>
                <li>
                    <a href="#/assetsRecord">财务记录</a>
                </li>
                <li>
                    <a href="#/tradeBill">交易账单</a>
                </li>
            </ul> -->
            <ul>
                <li>个人中心</li>
                <li>
                    <a href="#/accountInfo">账户信息</a>
                </li>
                <li>
                    <a href="#/identityVerify">实名认证</a>
                </li>
                <li>
                    <a href="#/accountSecurity">安全设置</a>
                </li>
                <li>
                    <a href="#/collection">收款方式</a>
                </li>
                <li>
                    <a href="#/addressManage">地址管理</a>
                </li>
                <li>
                    <a href="#/assetsRecord">财务记录</a>
                </li>
                <li>
                    <a href="#/tradeBill">交易账单</a>
                </li>
                <!-- <li>
                    <a class="login-record cur" href="#/loginRecord">登录记录</a>
                </li> -->
                <li>
                    <a href="#/apiManager">API管理</a>
                </li>
                 <li>
                    <a href="#/invited">邀请</a>
                </li>
                <li>
                    <a href="#" id="quit-load">退出登录</a>
                </li>
            </ul>
        </div>
        <div class="content" id="view">

            <div class="inner-login-record" id="ilr">
                <div class="header">登录记录</div>
                <div class="login-record-list">
                    <div class="inner-list">

                        <div class="ilr-head">
                            <span>用户名</span>
                            <span>IP地址</span>
                            <span>登录时间</span>
                        </div>

                        <div class="ilr-content" id="dlMain"></div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>