<div class="container" id="assetsmanager">
    <div class="main-panel f-cb">
        <div class="sidebar-nav f-fl">
        </div>

        <div class="content" id="view" style="width: 100%;margin:0 auto;">
            <div class="inner-my-assets" id="innerMyAssets">
                <div class="inner-my-assets" id="innerMyAssets">
                    <div class="estimate-all-assets"></div>
                    <div class="currency-type-detail"></div>
                </div>
            </div>
        </div>
        
    </div>
</div>