<div class="container" id="helpCenter">
    <div class="main-panel f-cb">
        <div class="sidebar-nav f-fl">
            <ul>
                <li>帮助中心</li>
                <li>
                    <a href="#/newsList" class="cur">公告中心</a>
                </li>
                <li>
                    <a href="#/feeList">费率说明</a>
                </li>
            </ul>
        </div>
        <div class="content" id="view">
            <div class="inner-news-detail" id="innerNewsDetail">
                <div class="header">
                    <a href="#/newsList">平台公告</a>
                    <i class="fa fa-angle-right"></i>
                    <span>详情</span>
                </div>
                <div class="detail-main" id="Detail"></div>
            </div>
        </div>
    </div>
</div>