<div class="otc-panel container" id="otcPanel">

    <div class="otc-header">
        <div class="otc-header-inner f-cb">

        </div>
    </div>
    <div class="coins">
        <span class="cur">USDT</span>
        <!-- <span >ETH</span> -->
    </div>

    <div class="otc-main-header">

    </div>

    <div class="otc-main">

    </div>
    <!--     <div class="otc-tips">
        <div class="list-tips">
            <span>交易规则:</span>
            <ul>
                <li>1、超过<i>2笔</i>取消订单将<i>禁止</i>法币交易一天；</li>
                <li>2、当正在进行中的订单有<i>1笔</i>购买订单时，<i>暂停</i>继续下单，完成后恢复下单；</li>
                <li>3、下单购买JC后<i>冒充已付款</i>，商家可申请举报，一经查实将<i>封禁交易；</i></li>
                <li>4、平台规定商家<i>处理时间为9:00-21:00</i>，非处理时间会有延迟，一般接单后24小时内会完成处理；</li>
                <li>5、遇到问题订单联系不上商家，可联系客服投诉反馈处理；</li>
                <li>6、在转账时<i>请勿备注“比特币、虚拟币”等信息</i>，否则会造成汇款被拦截、银行卡被冻结等问题。</li>
            </ul>
        </div>
    </div> -->

</div>

<div class="otc-dialog" id="otcDialog">

    <div class="dialog-content">
        <div class="inner" id="inner">

        </div>
    </div>

</div>