
<div class="otcmerchant-panel container">

    <div class="inner-otcmerchant-panel">
        <div class="header">
            <p class="title">商家申请</p>
            <p class="title-desc">成为Blackhorse站内承兑商，享受更多交易特权。</p>
        </div>
        <div class="main">
            <div class="box advertise">
                <i></i>
                <div class="theme">广告发布</div>
                <p>商家自由发布广告，买卖更灵活、更便捷。</p>
            </div>
            <div class="box free">
                <i></i>
                <div class="theme">手续费全免</div>
                <p>加入ZZEX承兑商，享全站手续费全免特权。</p>
            </div>
            <div class="box one-to-one">
                <i></i>
                <div class="theme">一对一服务</div>
                <p>我们将向商家提供一对一专属服务。</p>
            </div>
        </div>
        <div class="apply-now">
            <input type="checkbox"><span>我已阅读并同意 <a href="#/">《承兑商协议》</a> </span>
            <button>立即申请</button>
        </div>
    </div>

</div>

<div class="otcmerchant-dialog" id="otcMerDialog">

    <div class="dialog-content">
        <i class="f-fr fa fa-times"></i>
        <div class="inner" id="inner">
            <div class="title">承兑商申请</div>
            <div class="sub-title">请添加承兑商专属客服，了解详细的入驻流程</div>
            <img src="../images/qrcode2.png" alt="">
            <div class="desc">商家认证客服</div>
        </div>
    </div>

</div>