
<div class="otctrade-panel">
    <div class="otctrade-main f-cb">
        <div class="otctrade-left f-fl">

                <div class="order f-cb">
                    <div class="order-client f-fl" id="client"></div>
                </div>

                <div class="price" id="price"></div>

                <div class="method">
                    <span>我的付款方式：</span>
                    <div class="payment" id="payment">
                        <img class="qrcode" src="" alt="">
                    </div>
                </div>

                <div class="state" id="state"></div>
                
        </div>
        <div class="otctrade-right f-fr">
            <div class="tips">
                <div class="title">注意事项</div>
                <div class="lists">
                    <ul>
                        <li>1、超过2笔取消交易，将禁止发币交易1天；</li>
                        <li>2、请确认转账/打款之后再点击“我已付款”，否则经商家投诉可能会导致禁止法币交易；</li>
                        <li>3、请勿使用非平台实名的银行卡/支付宝等进行转款；</li>
                        <li>4、若交易金额大于50,000 CNY，法定假日或工作日17:00点以后汇款到银行卡可能造成到账不及时，请分批支付保证及时到账。</li>
                        <li>5、在转账过程中请勿备注类似BTC、USDT、火币等信息，防止造成您的汇款被拦截、银行卡被冻结等问题。</li>
                        <li>6、正在进行中有1笔购买订单时，暂停继续购买下单，完成后恢复继续下单。</li>
                    </ul>
                </div>
                <div class="qrcode f-cb">
                    <img class="f-fl" src="../images/qrcode2.png" alt="">
                    <span class="f-fr">法币交易过程中遇到需要申诉的问题可以扫描左侧二维码添加客服微信进行申诉反馈处理。</span>
                </div>
            </div>
        </div>



    </div>
</div>